.userBtn {
  background: #dd3333;
  color: #fff;
  padding: 5px 15px;
  margin-top: 50px;
  min-width: 100px;
}

.userForm {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-row {
  margin-top: 30px;
}
