input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  height: 40px;
}

input,
textarea,
select,
button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  //   margin: 0em;
  font: 400 11px system-ui;
}

input {
  width: 22%;
  margin-left: 1%;
}

label {
  width: 25%;
  height: 40px;
  padding: 12px 20px;
  margin-right: 1%;
  margin-left: 1%;
  box-sizing: border-box;
  color: #999;
  background-color: #eee;
}
.register_label {
  padding: 12px 20px;
  margin-right: 1%;
  margin-left: 1%;
  box-sizing: border-box;
  color: none;
  background-color: none;
}
user agent stylesheet input,
textarea,
select,
button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}

user agent stylesheet button {
  -webkit-appearance: button;
}

// :focus {
//   outline: 0;
// }

p {
  width: 100%;
  height: 40px;
}

input[name='email'] {
  width: 71%;
}

input[type='password'],
input[type='tel'],
input[type='text'] {
  padding: 2px;
  border: none;
  border-radius: 0;
  color: #999;
  background-color: #eee;
  font-size: 14px;
}

select {
  margin-left: 1%;
  box-sizing: border-box;
  width: 50%;
  padding: 10px 1px 10px 16px;
  border: 0;
  border-radius: 0;
  color: #999;
  background-color: #eee;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  //   margin: 8px, 20px;
  height: 40px;
}

select:not(:-internal-list-box) {
  overflow: visible !important;
}

select {
  position: relative;
}

select[name='regAs'] {
  width: 30%;
}

textarea {
  width: 97%;
  margin-left: 2%;
  padding: 16px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #999;
  background-color: #eee;
  font-size: 14px;
  min-height: 150px;
}

.et_contact_bottom_container {
  position: relative;
  text-align: center;
  margin-top: 10px;
}

button {
  position: relative;
  width: 10%;
  //   padding: auto;
  //   border: 2px solid;
  text-align: center;
  border-radius: 0;
  color: white !important;
  background-color: #e00b00;
  //   font-size: 18px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.et_pb_fullwidth_section {
  padding: 0;
}
.et_pb_section {
  position: relative;
  background-color: #fff;
}

.et_parallax_bg {
  background-image: url(https://utcaa.com/wp-content/uploads/2017/10/home-banner-1.png);
}

.et_pb_section,
.et_pb_slider .et_pb_slide {
  background-position: center;
  -webkit-background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: 100%;
  -moz-background-size: cover;
  background-size: 100%;
  background-size: cover;
}

.et_pb_fullwidth_header .et_pb_parallax_css {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.et_pb_fullwidth_header .et_pb_fullwidth_header_container {
  position: relative;
  z-index: 3;
  width: 80%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.et_pb_fullwidth_header .et_pb_fullwidth_header_container.left .header-content,
.et_pb_fullwidth_header .et_pb_fullwidth_header_container.right .header-content {
  margin: 20px 2%;
}
.et_pb_fullwidth_header .et_pb_fullwidth_header_container.left .header-content {
  padding-left: 0;
}
.et_pb_fullwidth_header .et_pb_fullwidth_header_container.left .header-content {
  margin-right: 6%;
  margin-left: 0;
  text-align: left;
}
.et_pb_fullwidth_header .header-content {
  padding: 10px;
  text-align: center;
}
.et_pb_fullwidth_header .et_pb_fullwidth_header_overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  pointer-events: none;
}
.et_pb_fullwidth_header .et_pb_fullwidth_header_scroll {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 30px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.et_pb_pagebuilder_layout .entry-content,
.et_pb_pagebuilder_layout .et_pb_post .entry-content {
  margin-bottom: 0 !important;
  padding-top: 0;
}

.et_pb_section {
  padding: 50px 0;
}
.et_pb_section {
  position: relative;
  background-color: #fff;
}
.et_pb_section,
.et_pb_slider .et_pb_slide {
  background-position: center;
  -webkit-background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: 100%;
  -moz-background-size: cover;
  background-size: 100%;
  background-size: cover;
}

.et_pb_row_0 {
  #et_pb_contact_form_1 .et_contact_bottom_container {
    float: none !important;
    text-align: center !important;
  }
}
.container,
.et_pb_row,
.et_pb_slider .et_pb_container,
.et_pb_fullwidth_section .et_pb_title_container,
.et_pb_fullwidth_section .et_pb_title_featured_container,
.et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container {
  max-width: 1200px;
}
.et_pb_column .et_pb_row_inner,
.et_pb_row {
  padding: 30px 0;
}

.et_pb_all_tabs,
.et_pb_counters .et_pb_counter_container,
.et_pb_module,
.et_pb_portfolio_item,
.et_pb_posts_nav a,
.et_pb_pricing_table,
.et_pb_row,
.et_pb_row_inner,
.et_pb_slide,
.et_pb_tab,
.et_pb_with_background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.et_pb_row {
  position: relative;
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

.et_pb_contact_main_title {
  padding-bottom: 3%;
}
.et_pb_contact_form_0.et_pb_contact_form_container h1,
.et_pb_contact_form_0.et_pb_contact_form_container h2.et_pb_contact_main_title,
.et_pb_contact_form_0.et_pb_contact_form_container h3.et_pb_contact_main_title,
.et_pb_contact_form_0.et_pb_contact_form_container h4.et_pb_contact_main_title,
.et_pb_contact_form_0.et_pb_contact_form_container h5.et_pb_contact_main_title,
.et_pb_contact_form_0.et_pb_contact_form_container h6.et_pb_contact_main_title {
  font-size: 18px;
}
.et_pb_contact_form_0.et_pb_contact_form_container h1,
.et_pb_contact_form_0.et_pb_contact_form_container h2.et_pb_contact_main_title,
.et_pb_contact_form_0.et_pb_contact_form_container h3.et_pb_contact_main_title,
.et_pb_contact_form_0.et_pb_contact_form_container h4.et_pb_contact_main_title,
.et_pb_contact_form_0.et_pb_contact_form_container h5.et_pb_contact_main_title,
.et_pb_contact_form_0.et_pb_contact_form_container h6.et_pb_contact_main_title {
  font-size: 24px;
}
h1.et_pb_contact_main_title {
  font-size: 26px;
}
.et_pb_contact_main_title {
  position: relative;
  padding-bottom: 16px;
  font-weight: 500;
}
.et_pb_blurb_content,
.et_pb_circle_counter,
.et_pb_contact_main_title,
.et_pb_countdown_timer_container,
.et_pb_counter_title,
.et_pb_gallery_item,
.et_pb_newsletter_description,
.et_pb_number_counter,
.et_pb_portfolio_item,
.et_pb_post,
.et_pb_pricing_content,
.et_pb_pricing_heading,
.et_pb_promo_description,
.et_pb_slide_description,
.et_pb_tab,
.et_pb_tabs_controls,
.et_pb_team_member,
.et_pb_testimonial_description_inner,
.et_pb_text,
.et_pb_toggle_content,
.et_pb_toggle_title,
.et_pb_widget,
.product {
  word-wrap: break-word;
}

h1 {
  font-size: 30px;
}

h1 {
  padding-bottom: 10px;
  color: #333;
  font-weight: 500;
  line-height: 1em;
}

select {
  -webkit-appearance: menulist;
  // box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  // color: black;
  // background-color: white;
  cursor: default;
  border-width: 0;
  border-style: solid;
  border-color: initial;
  border-image: initial;
}
.select-container,
et_pb_contact_main_title {
  margin-left: 1%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.et_pb_contact_main_title {
  padding-left: 1%;
  padding-bottom: 3%;
  font-size: 26px;
  padding-bottom: 16px;
  font-weight: 500;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 10px;
  color: #333;
  font-weight: 500;
  line-height: 1em;
}
article {
  display: block;
}
