.eventItems {
  margin-left: 227.83px;
  margin-right: 161.83px;
  padding-top: 400px;
  padding-bottom: 30px;
  text-align: center;
  column-count: 4;
}

.eventItem {
  margin-bottom: 66px;
}
