.alumniSection {
  position: relative;
  background-color: #fff;
  max-width: 1200px;
  margin: auto;
  width: 80%;
}
.alumniSection .rowSection {
  padding: 2% 0;
}

#alumniSection {
  position: relative;
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

.textInner {
  padding-bottom: 0;
}

.alumniSubTitle {
  font-weight: 700;
  font-size: 24px !important;
  color: #e00b00 !important;
  letter-spacing: 10px;
  text-align: center;
}

#alumniTitle {
  max-width: 1200px;
}
