.reset-btn {
  background: #dd3333;
  color: #fff;
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px;
}

.reset-btn-block {
  text-align: center;
  margin: 10px auto;
}

.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset {
  width: 300px;
  height: 40px;
  margin: 8px;
}
